body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: #FFF;
  background-image: url("wc-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  scroll-padding-top: 150px;
}

header {
  background-color: rgba(145, 39, 148, 1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

h1 {
  text-align: center;
  color: white;
  padding: 5px;
}
h1.accordion {
  background-color: rgba(145, 39, 148, 1);
  border-radius:8px;
}

h2 {
	text-align: center;
	color: rgba(145, 39, 148, 1);
}

h2 {
	margin-top: 40px;
}

ul, ol {
	margin-bottom: 20px;
}

li {
	margin-bottom: 10px;
}

main {
	margin: 150px auto;
	max-width: 800px;
	padding: 20px;
	background-color: rgba(128, 128, 128, 0.8);
	box-shadow: 5px 5px 5px #000;
	border-radius:8px;
}

p {
	line-height: 1.5;
	color: #fff;
}

a {
	color: rgba(145, 39, 148, 1);
}

#randomizer-button, #randomizer-button-classic {
	background-color: rgba(145, 39, 148, 1);
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	width:100%;
	cursor: pointer;
	text-align:center;
	text-transform:uppercase;
	transition: background-color 0.3s ease;
}

#randomizer-button:hover, #randomizer-button-classic:hover {
	background-color: #b366ff;
}

footer {
	text-align: center;
	margin-top: 40px;
}

footer a {
	color: #cc99ff;
}

#ruleset,
#class-ruleset,
#randomizer,
#addonlist {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
}

li span {
font-weight:700;
}

#ruleset li:nth-child(even),
#class-ruleset li:nth-child(even) {
	background-color: #b366ff;
}



/* Accordion CSS */
.accordion {
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  text-align:center;
}

.accordion:hover {
  background-color: rgba(183, 102, 255, 0.7);
}

.panel {
  display: none;
  padding: 10px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.output-container, .output-container-classic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.output-box {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  flex: 1;
  min-width: 150px;
  text-align: center;
}
.output-box {
	color:rgba(145, 39, 148, 1);
}

.hidden {
  display: none;
}

.accordion-container {
            display: none;
}
.addons h1{
	background-color:blue;
}
.classic h1{
	background-color:green;
}
.retail h1{
	background-color:red;
}

@media screen and (max-width: 768px) {
  .output-container {
    flex-direction: column;
  }

  .output-box {
    min-width: 100%;
  }
}
